.pay {
	width: 100%;
	padding: 60px 66px 60px 63px;

	@media (max-width: 1200px) {
		padding-left: 50px;
	}
}

.pay__form {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;

  @media (max-width: 1200px) {
	margin: 0;
  }
}

.pay__wrap {
  padding-right: 28px;

  @media (max-width: 1200px) {

	padding-right: 12px;
  }
}
